.content {
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
}

table {
    background-color: pink;
    height: 20px;
    width: 200px;
    text-align: center;
}

button {
    font-weight: bold;
    height: 70px;
    width: 100px;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}